esop/Thumbs.db
.DS_Store
esop/.gradle
esop/build/
esop/target/
esop/out/
esop/.micronaut/
.idea
*.iml
*.ipr
*.iws
esop/.project
esop/.settings
esop/.classpath
esop/.factorypathgit
destroy-with-bucket.sh
destroy.sh
initialize.sh
initialize-with-bucket.sh
terraform/create-instance/ssh-keys/terraform-trial
*.terraform/
*.hcl
*.tfstate
*.backup