name: infra

on:
  push:
    branch: "main"
    paths:
      - '**.tf'
      - '**.infra.yml'

jobs:
  terraform-setup-s3-backend:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: init backend
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd ./create-s3-bucket
          terraform init
      - name: create backend
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd ./create-s3-bucket
          terraform apply -auto-approve

  infrastructure-plan:
    needs: [terraform-setup-s3-backend]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: terraform init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd ./create-instance
          terraform init
      - name: terraform plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd ./create-instance
          terraform plan

  create-infrastructure:
    needs: [infrastructure-plan]
    runs-on: ubuntu-22.04
    environment:
      name: esop-prod
    outputs:
      public_ip: ${{steps.create-instance.outputs.ip}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: terraform init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd ./create-instance
          terraform init
      - name: terraform apply
        id: create-instance
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd ./create-instance
          IP_ADDRESS=$(terraform apply -auto-approve | grep instance_public_ip | tr -d "instance_public_ip = " |  cut -f1 -d ":"  | tr -d '\n')
          echo ip="$IP_ADDRESS" >> "$GITHUB_OUTPUT"
          

  esop:
    needs: [create-infrastructure]
    environment:
      name: esop-prodx
    steps:
      - name: test-build-deploy
        uses: Pranav-Bhosale/terraform-cicd/.github/workflows/esop.yml@main
        with:
          public_ip: ${{needs.create-infrastructure.outputs.public_ip}}
        secrets:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}