
name: CI/CD

on:
  push:
    branch: "main"
    paths:
      - 'esop/**'
      - '**.cicd.yml'

jobs:
  get-ip:
    runs-on: ubuntu-22.04
    steps:
      - name: Download jar
        uses: actions/download-artifact@v3
        with:
          name: ip